<!DOCTYPE html>
<html>
  <head>
    <title>Coda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.splashImage = "<%= image_url('splashImage.svg') %>";
      window.loginImage = "<%= image_url('loginImage.svg') %>";
      window.signupImage = "<%= image_url('signupImage.svg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
